:root {
  --fnt: 'Helvetica', sans-serif;
  --bgc: #333333;
  --fgc: #ffffff;
  --maxw: 40rem;
}
html{line-height:1.5;font-family:var(--fnt);background:var(--bgc);color: var(--fgc);}
header{margin:1em auto;max-width:var(--maxw)}
main{max-width: var(--maxw);margin: 0 auto}
a{color: var(--fgc);text-decoration: none}
