:root {
  --serif: serif;
  --sans-serif: 'Helvetica', sans-serif;
  --bg-color: #ffffff;
  --fg-color: #333333;
  --accent-color: #a10705;
  --muted-fg-color: #485a6c;
  --muted-bg-color: #fafafa;
  --content-width: 40rem;
}

/* BASE */

html {
  font-family: var(--sans-serif);
  background: var(--bg-color);
  color: var(--fg-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--sans-serif);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 auto;
  padding: 0 0.5em;
  background: var(--fg-color);
  color: var(--bg-color);
}

header span {
  margin: 0.5rem 0 0.5rem 0;
}

header span a {
  color: var(--bg-color);
}

nav a {
  text-transform: capitalize;
  margin: 0 0 0 1rem;
  padding: 0.5rem;
  color: var(--bg-color);
}

nav a:hover {
  background-color: var(--accent-color);
}

main {
  max-width: var(--content-width);
  margin: 0 auto;
  padding: 1em 1em;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

footer {
  border-top: 1px dotted var(--muted-fg-color);
  max-width: var(--content-width);
  margin: 0.5rem auto;
  color: var(--muted-fg-color);
  text-align: center;
}
