body {
  font-family: 'Lato', Arial, sans-serif;
}

.container {
  padding: 2rem 1.5rem;
}

h2 {
  font-weight: 300;
}

.geomicon {
  height: 1em;
  width: 1em;
  vertical-align: -0.125em;
}

.fill-mid-gray {
  fill: #667680;
}

.fill-mid-gray:hover {
  fill: #304650; /* Dark Gray */
}
