---
title: India Movies
layout: default
---

<p>
  I enjoy movies, but I really dig getting into Indian cinema. There is a lot of variety, which makes it easy for
  anyone to find something to love. Indian cinema has a strong cultural identity, which I respect and love.
</p>

<h2>Seen</h2>
{% for movie in site.data.india_movies.seen %}
<div>
  <p>
    <a href="{{ movie.url }}">{{ movie.title }}</a>
    <span>
      {% if movie.rating == "meh" %}
        &#x1f610;
      {% elsif movie.rating == "nah" %}
        &#x1f641;
      {% else %}
        &#x1f642;
      {% endif %}
    </span>
  </p>
  <p>{{ movie.review }}</p>
</div>
{% endfor %}

<h2>Watchlist</h2>
<ul>
  {% for movie in site.data.india_movies.watchlist %}
  <li><a href="{{ movie.url }}">{{ movie.title }}</a></li>
  {% endfor %}
</ul>
