
body {
  font-family: 'Lato', sans-serif;
  color: #666666;
}

a {
  color: #3FA4F6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

div#speech {
  width: 100%;
  display: block;
  border-top: 1px solid  #F1F2F1;
  border-bottom: 1px solid #F1F2F1;
  text-align: justify;
}

div#speech h2 {
  font-weight: 300;
}

footer {
  width: 100%;
  clear: both;
}

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  -o-animation:fadeIn ease-in 1;
  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  -o-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
}

.fadeIn-1s {
  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  -o-animation-duration:1s;
  animation-duration:1s;
}

.fadeIn-2s {
  -webkit-animation-duration:2s;
  -moz-animation-duration:2s;
  -o-animation-duration:2s;
  animation-duration:2s;
}

.fadeIn-3s {
  -webkit-animation-duration:3s;
  -moz-animation-duration:3s;
  -o-animation-duration:3s;
  animation-duration:3s;
}

.fadeIn-Delay-1s {
  -webkit-animation-delay:1s;
  -moz-animation-delay:1s;
  -o-animation-delay:1s;
  animation-delay:1s;
}

.fadeIn-Delay-2s {
  -webkit-animation-delay:2s;
  -moz-animation-delay:2s;
  -o-animation-delay:2s;
  animation-delay:2s;
}

.fadeIn-Delay-3s {
  -webkit-animation-delay:3s;
  -moz-animation-delay:3s;
  -o-animation-delay:3s;
  animation-delay:3s;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-o-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
