html { font-family: sans-serif; background-color: #010B14; color: #FDFFFC; }

body { max-width: 42rem; margin: 0 auto; font-size: 18px; line-height: 1.5em; }
body header { margin: 0em 1.5em; padding-bottom: 1em; border-bottom: 0.25em solid; }
body main { margin: 0em 1.5em; }
body p { margin-top: 1.5em; margin-bottom: 1.5em; }
body a { color: #EB4511; text-decoration: none; }
body a:hover { color: #FCCA46; text-decoration: underline; }
body footer { font-size: 12px; margin: 0em 1.5em 1.5em; padding-top: 1em; border-top: 0.25em solid; }
body img { border-radius: 0.5em; max-width: 100%; height: auto; }
