@import "colors.css";

:root {
  font-family: 'Arial', 'sans';
}

main {
  padding: 0 .5em;
  margin: 0em auto;
  max-width: 28em;
}

h1 {
  margin: 0.5em 0;
}

p {
  margin: 1em 0;
}

a {
  color: var(--mint-500);
  text-decoration: none;
}

a:hover {
  color: var(--mint-100);
}

.stats {
  display: grid;
  margin: 1em 0;
  column-gap: 1em;
  grid-template-columns: 1fr 1fr 1fr;
}

.stat-box {
  padding: .5em;
  background-color: var(--slate-700);
  border-radius: 0.5em;
  border: 1px solid var(--slate-500);

  .title {
    color: var(--silver-500);
    font-size: .75em;
  }

  .content {
    margin: 0.5em;
    text-align: center;
  }
}

.focus-switch {
  display: grid;
  margin: 1em 0;
}
button[role='switch'] {
  background: var(--slate-500);
  border: 1px solid var(--slate-300);
  display: block;
  padding: 0.5em;

  .label {
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0 1em 0 0;
    vertical-align: middle;
  }
  .toggle {
    position: relative;
    height: 2em;
    display: inline-block;
    vertical-align: middle;
  }
  .outer-toggle {
    fill: var(--slate-900);
  }
  .inner-toggle {
    fill: var(--silver-700);
  }
}

.color-button-container {
  display: grid;
  margin: 1em 0;
  column-gap: 1em;
  row-gap: 1em;
  align-items: center;

  @media (max-width: 400px) {

    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
  }

  @media (min-width: 400px) {
    grid-template-columns: repeat(8, 1fr);
  }
}

.focus-nav {
  display: grid;
  margin: 1em 0;
  column-gap: 1em;
  grid-template-columns: 1fr 1fr 1fr;
}

.generation-nav {
  display: grid;
  margin: 1em 0;
  column-gap: 1em;
  grid-template-columns: 1fr 1fr 1fr;
}

button {
  padding: 0.75em;
  border: 1px solid var(--blueberry-700);
  background: none;
  font-size: 1em;
  background-color: var(--blueberry-900);
  border-radius: 0.5em;

  &.color-select-button {
    padding: 0;
    width: 2em;
    height: 2em;
    border-radius: 1em;
    border: none;
  }

  &.red {
    background-color: var(--strawberry-700);
  }

  &.orange {
    background-color: var(--orange-700);
  }

  &.yellow {
    background-color: var(--banana-700);
  }

  &.green {
    background-color: var(--lime-700);
  }

  &.blue {
    background-color: var(--mint-700);
  }

  &.indigo {
    background-color: var(--blueberry-700);
  }

  &.violet {
    background-color: var(--grape-700);
  }

  &.pink {
    background-color: var(--bubblegum-700);
  }
}

.granny_square {
  &.red {
    .dormant {
      rect {
        fill: var(--strawberry-900);
      }

      line {
        stroke: var(--strawberry-700);
      }
    }
  }

  &.orange {
    .dormant {
      rect {
        fill: var(--orange-900);
      }

      line {
        stroke: var(--orange-700);
      }
    }
  }

  &.yellow {
    .dormant {
      rect {
        fill: var(--banana-900);
      }

      line {
        stroke: var(--banana-700);
      }
    }
  }

  &.green {
    .dormant {
      rect {
        fill: var(--lime-900);
      }

      line {
        stroke: var(--lime-700);
      }
    }
  }

  &.blue {
    .dormant {
      rect {
        fill: var(--mint-900);
      }

      line {
        stroke: var(--mint-700);
      }
    }
  }

  &.indigo {
    .dormant {
      rect {
        fill: var(--blueberry-900);
      }

      line {
        stroke: var(--blueberry-700);
      }
    }
  }

  &.violet {
    .dormant {
      rect {
        fill: var(--grape-900);
      }

      line {
        stroke: var(--grape-700);
      }
    }
  }

  &.pink {
    .dormant {
      rect {
        fill: var(--bubblegum-900);
      }

      line {
        stroke: var(--bubblegum-700);
      }
    }
  }

  .alive {
    rect {
      fill: var(--silver-300);
    }
    line {
      stroke: var(--silver-100);
    }
  }

  .dim {
    .alive {
      rect {
        fill: var(--black-500);
      }
      line {
        stroke: var(--black-300);
      }
    }

    .dormant {
      rect {
        fill: var(--black-900);
      }
      line {
        stroke: var(--black-700);
      }
    }
  }
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  label {
    padding: 1em;
    background-color: var(--slate-500);
    border: 1px solid var(--slate-300);
    border-radius: 0.5em 0 0 0.5em;
  }

  input {
    font-size: 1em;
    line-height: 1em;
    padding: 0.5em;
    border-top: 1px solid var(--slate-300);
    border-bottom: 1px solid var(--slate-300);
    border-right: 1px solid var(--slate-300);
    border-left: none;
  }

  button {
    border-radius: 0 0.5em 0.5em 0;
    border-left: none;
  }
}

footer {
  margin: 1em 0;
  color: var(--silver-700);
  text-align: center;
}
